* {
    font-family: sans-serif;
}

body {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.controls {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-weight: bold;
}

.board {
    border: solid 2px;
}

.container {
    margin: auto;
    width: 75%;
    display: flex;
    justify-content: center;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button {
    margin: 5px;
}

.titles p {
    font-weight: bold;
}

.play-button {
    background-color: green;
    color: white;
    font-size: large;
    font-weight: bold;
    padding: 15px 30px;
}

.pause-button {
    background-color: orange;
    color: white;
    font-size: large;
    font-weight: bold;
    padding: 15px 30px;
}
